{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'shop/style.css' %}">
        <title>LuvShop</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="logo">
                <h1>LuvShop</h1>
            </div>
            <header class="menu">
                <div class="menu_container">
                    <ul>
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'shoes_catalog' %}">Кроссовки</a></li>
                        <li><a href="#">Бренд</a></li>
                        <li><a href="#">О нас</a></li>
                    </ul>
                </div>
            </header>
            <main class="container">
                {% block content %}{% endblock %}
            </main>
            <footer>
                <p>Made by Lovedr6s.</p>
            </footer>
        </div>
    </body>
</html>