{% extends 'base.html' %}

{% block content %}
{% if items %}
    <section class="product-grid">
        {% for item in items %}
            <div class="product">
                <h2><a href="{% url 'shoes_detail' item.id %}">{{ item.title }}!!</a></h2>
                <img src="{{ item.image.url }}">
                <p>Цена: {{ item.price }}</p>
                <div style="text-align: right;">
                    <button name="buy">Купить</button>
                </div>
            </div>
        {% endfor %}
    </section>
{% endif %}
{% endblock %}